Repository geoschem/gcpy, pull requests merged in 2023-08, with the labels that each got.

#248 Now use a consistent width for columns in emissions tables and mass table output
  gcpy/benchmark.py
  gcpy/constants.py
  gcpy/util.py
Labels: benchmark plots and tables, bugfix

#253 Fixed broken regridding code in file_regrid.py; Updated GCPy regridding documentation
  CHANGELOG.md
  docs/source/Regridding.rst
  gcpy/file_regrid.py
Labels: bug, documentation, regridding

#255 Peg xarray to version 2023.2.0 in the environment.yml file
  docs/environment_files/environment.yml
Labels: environment, bugfix

#256 Rename PassiveTracers to TransportTracers in run_1yr_tt_benchmark.py
  CHANGELOG.md
  benchmark/modules/run_1yr_tt_benchmark.py
Labels: bugfix

#257 Update plot.py for more recent xarray; also allow dask arrays to be passed to single_panel, six_plot routines
  CHANGELOG.md
  docs/environment_files/environment.yml
  gcpy/plot.py
Labels: benchmark plots and tables, bugfix

#246 Now allow specification of the number of cores for benchmark plotting jobs
  CHANGELOG.md
  benchmark/cloud/template.1hr_benchmark.yml
  benchmark/cloud/template.1mo_benchmark.yml
  benchmark/config/1mo_benchmark.yml
  benchmark/config/1yr_ch4_benchmark.yml
  benchmark/config/1yr_fullchem_benchmark.yml
  benchmark/config/1yr_tt_benchmark.yml
  benchmark/modules/run_1yr_fullchem_benchmark.py
  benchmark/modules/run_1yr_tt_benchmark.py
  benchmark/run_benchmark.py
  gcpy/benchmark.py
Labels: feature, benchmark plots and tables

#250 Rearrange folders according to Python packaging best practices
  CHANGELOG.md
  examples/plotting/plot_comparisons.py
  examples/plotting/plot_single_panel.py
  examples/timeseries/mda8_o3_timeseries.py
  examples/working_with_files/regrid_restart_ll_to_cs.py
  examples/yaml/.gitignore
  examples/yaml/species2wiki.py
  gcpy/__init__.py
  gcpy/_version.py
  gcpy/benchmark/README.md
  gcpy/benchmark/__init__.py
  gcpy/benchmark/cloud/README.md
  gcpy/benchmark/cloud/template.1hr_benchmark.yml
  gcpy/benchmark/cloud/template.1mo_benchmark.yml
  gcpy/benchmark/config/1mo_benchmark.yml
  gcpy/benchmark/config/1yr_ch4_benchmark.yml
  gcpy/benchmark/config/1yr_fullchem_benchmark.yml
  gcpy/benchmark/config/1yr_tt_benchmark.yml
  gcpy/benchmark/config/README.md
  gcpy/benchmark/modules/GC_72_vertical_levels.csv
  gcpy/benchmark/modules/README.md
  gcpy/benchmark/modules/__init__.py
  gcpy/benchmark/modules/benchmark_models_vs_obs.py
  gcpy/benchmark/modules/run_1yr_fullchem_benchmark.py
  gcpy/benchmark/modules/run_1yr_tt_benchmark.py
  gcpy/benchmark/plot_driver.sh
  gcpy/benchmark/run_benchmark.py
  gcpy/benchmark_funcs.py
  gcpy/examples/README.txt
  gcpy/examples/__init__.py
  gcpy/examples/bpch_to_nc/__init__.py
  gcpy/examples/bpch_to_nc/bpch2nc.py
  gcpy/examples/bpch_to_nc/bpch_tagco_prodloss_to_nc.py
  gcpy/examples/diagnostics/README.md
  gcpy/examples/diagnostics/__init__.py
  gcpy/examples/diagnostics/compare_diagnostics.ipynb
  gcpy/examples/diagnostics/compare_diags.py
  gcpy/examples/diagnostics/compare_diags.yml
  gcpy/examples/dry_run/__init__.py
  gcpy/examples/dry_run/download_data.py
  gcpy/examples/dry_run/download_data.yml
  gcpy/examples/plotting/__init__.py
  gcpy/examples/plotting/plot_comparisons.py
  gcpy/examples/plotting/plot_single_panel.py
  gcpy/examples/timeseries/README.txt
  gcpy/examples/timeseries/__init__.py
  gcpy/examples/timeseries/mda8_o3_timeseries.py
  gcpy/examples/timeseries/plot_timeseries.py
  gcpy/examples/working_with_files/__init__.py
  gcpy/examples/working_with_files/add_blank_var_to_restart_file.py
  gcpy/examples/working_with_files/concatenate_files.py
  gcpy/examples/working_with_files/insert_field_into_restart_file.py
  gcpy/examples/working_with_files/regrid_restart_ll_to_cs.py
  gcpy/examples/xarray_examples/__init__.py
  gcpy/examples/xarray_examples/xarray_overview.ipynb
  gcpy/gcpy
  gcpy/gcpy.examples
  setup.py
Labels: feature, structural modification
