Repository geoschem/gcpy, pull requests merged in 2023-07, with the labels that each got.

#234 Add capability to plot GEOS-Chem Classic and/or GCHP data vs. O3 model observations
  CHANGELOG.md
  benchmark/README
  benchmark/README.md
  benchmark/benchmark_emission_totals.ipynb
  benchmark/cloud/README.md
  benchmark/config/1mo_benchmark.yml
  benchmark/config/1yr_ch4_benchmark.yml
  benchmark/config/1yr_fullchem_benchmark.yml
  benchmark/config/1yr_tt_benchmark.yml
  benchmark/config/README.md
  benchmark/modules/GC_72_vertical_levels.csv
  benchmark/modules/README.md
  benchmark/modules/benchmark_models_vs_obs.py
  benchmark/modules/run_1yr_fullchem_benchmark.py
  examples/diagnostics/compare_diags.py
  examples/diagnostics/compare_diags.yml
  gcpy/util.py
Labels: feature, benchmark plots and tables

#236 Arrange models vs. observations plots from north to south by site latitude
  CHANGELOG.md
  benchmark/modules/benchmark_models_vs_obs.py
Labels: feature, benchmark plots and tables

#238 Fix formatting of mass & emission tables; add mass table option to 1-year TransportTracers benchmarks
  CHANGELOG.md
  benchmark/config/1yr_tt_benchmark.yml
  benchmark/modules/run_1yr_tt_benchmark.py
  gcpy/emission_inventories.yml
  gcpy/emission_species.yml
  gcpy/util.py
Labels: feature, benchmark plots and tables

#239 GCGridObj tools for cubed-sphere grids
  CHANGELOG.md
  docs/environment_files/environment.yml
  gcpy/__init__.py
  gcpy/cstools.py
Labels: cubed-sphere, feature

#240 Fix issue where wrong GCHP grid boxes were being looked up in models vs. obs plots
  CHANGELOG.md
  benchmark/modules/benchmark_models_vs_obs.py
  benchmark/modules/run_1yr_fullchem_benchmark.py
  gcpy/cstools.py
  gcpy/grid.py
  gcpy/util.py
Labels: bug, benchmark plots and tables
