Repository geoschem/gcpy, pull requests merged in 2023-10, with the labels that each got.

#264 Make benchmark configuration files consistent
  CHANGELOG.md
  gcpy/benchmark/cloud/template.1hr_benchmark.yml
  gcpy/benchmark/cloud/template.1mo_benchmark.yml
  gcpy/benchmark/config/1mo_benchmark.yml
  gcpy/benchmark/config/1yr_ch4_benchmark.yml
  gcpy/benchmark/config/1yr_fullchem_benchmark.yml
  gcpy/benchmark/config/1yr_tt_benchmark.yml
Labels: feature, benchmark plots and tables

#268 Add GitHub actions: CodeQL, Pylint, Stale
  .github/workflows/codeql.yml
  .github/workflows/pylint.yml
  .github/workflows/stale.yml
Labels: feature

#270 Fix several issues in file regridding; Also prevent double-flipping of vertical indices
  gcpy/benchmark_funcs.py
  gcpy/examples/diagnostics/compare_diags.py
  gcpy/examples/plotting/plot_comparisons.py
  gcpy/examples/plotting/plot_single_panel.py
  gcpy/file_regrid.py
  gcpy/grid.py
  gcpy/regrid_restart_file.py
  gcpy/util.py
Labels: benchmark plots and tables, regridding, bugfix

#263 Abstract routines out of gcpy/plot.py into smaller modules within the gcpy/plot folder
  CHANGELOG.md
  docs/environment_files/environment.yml
  gcpy/benchmark/benchmark_slurm.sh
  gcpy/benchmark_funcs.py
  gcpy/examples/diagnostics/compare_diags.py
  gcpy/examples/plotting/plot_comparisons.py
  gcpy/examples/plotting/plot_single_panel.py
  gcpy/gcpy
  gcpy/gcpy.examples
  gcpy/plot.py
  gcpy/plot/__init__.py
  gcpy/plot/colormaps/WhGrYlRd.txt
  gcpy/plot/compare_single_level.py
  gcpy/plot/compare_zonal_mean.py
  gcpy/plot/core.py
  gcpy/plot/gcpy_plot_style
  gcpy/plot/single_panel.py
  gcpy/plot/six_plot.py
Labels: feature, colors / display, benchmark plots and tables
