Repository geoschem/gcpy, pull requests merged in 2024-09, with the labels that each got.

#329 Update package versions used in the GCPy environment; Also update GitHub actions to avoid deprecation warnings
  .github/workflows/codeql.yml
  .github/workflows/publish-python.yml
  CHANGELOG.md
  docs/environment_files/gcpy_environment.yml
  docs/environment_files/gcpy_requirements.txt
  docs/environment_files/read_the_docs_environment.yml
  docs/environment_files/read_the_docs_requirements.txt
  setup.py
Labels: topic: User Environment, category: Bug Fix

#339 Remove the default gcpy/benchmark/modules/species_database.yml file
  CHANGELOG.md
  gcpy/benchmark/modules/benchmark_drydep.py
  gcpy/benchmark/modules/benchmark_funcs.py
  gcpy/benchmark/modules/benchmark_mass_cons_table.py
  gcpy/benchmark/modules/budget_ox.py
  gcpy/benchmark/modules/budget_tt.py
  gcpy/benchmark/modules/oh_metrics.py
  gcpy/benchmark/modules/species_database.yml
Labels: category: Feature Request, topic: Benchmark Plots and Tables

#340 Replace whitespace in Ref and Dev version labels in benchmarking code
  CHANGELOG.md
  gcpy/benchmark/modules/benchmark_drydep.py
  gcpy/benchmark/modules/benchmark_funcs.py
  gcpy/benchmark/modules/benchmark_gcclassic_stats.py
  gcpy/benchmark/modules/benchmark_mass_cons_table.py
  gcpy/benchmark/modules/benchmark_models_vs_obs.py
  gcpy/benchmark/modules/benchmark_models_vs_sondes.py
  gcpy/benchmark/modules/benchmark_scrape_gcclassic_timers.py
  gcpy/benchmark/modules/benchmark_scrape_gchp_timers.py
  gcpy/benchmark/modules/budget_ox.py
  gcpy/benchmark/modules/budget_tt.py
  gcpy/benchmark/modules/oh_metrics.py
  gcpy/benchmark/modules/ste_flux.py
Labels: topic: Benchmark Plots and Tables, category: Bug Fix

#342 Hotfix: Restore stale workflow functionality
  .github/workflows/stale.yml
  CHANGELOG.md
Labels: category: Bug Fix
