Repository geoschem/gcpy, pull requests merged in 2024-02, with the labels that each got.

#297 file_regrid.py now uses `DELP_DRY` for delta-dry pressure variable name when creating GCHP files
  .github/workflows/codeql.yml
  CHANGELOG.md
  gcpy/file_regrid.py
Labels: benchmark plots and tables, regridding, bugfix

#298 Fix bugs in 1-yr benchmarks for different GCHP grid resolutions
  CHANGELOG.md
  gcpy/benchmark/modules/run_1yr_fullchem_benchmark.py
  gcpy/benchmark/modules/run_1yr_tt_benchmark.py
Labels: bug, benchmark plots and tables

#300 Fix bugs in GCC vs GCHP transport tracer benchmark mass tables
  CHANGELOG.md
  gcpy/benchmark/modules/run_1yr_tt_benchmark.py
Labels: bug, benchmark plots and tables

#283 Implement several minor bug fixes (matplotlib 3.8+, GitHub actions, remove obsolete features)
  .github/workflows/pylint.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  gcpy/examples/diagnostics/compare_diags.py
  gcpy/examples/diagnostics/compare_diags.yml
  gcpy/examples/timeseries/__init__.py
  gcpy/examples/timeseries/mda8_o3_timeseries.py
Labels: structural modification, bugfix, github actions

#301 Bug fix for operations budget name in transport tracer benchmark run script
  gcpy/benchmark/modules/run_1yr_tt_benchmark.py
Labels: bug, benchmark plots and tables

#277 Add inquiry functions to return nearest model data to a (lat,lon) location; Update benchmark model vs. obs scripts; Add models vs sondes output
  CHANGELOG.md
  gcpy/benchmark/benchmark_slurm.sh
  gcpy/benchmark/config/1yr_fullchem_benchmark.yml
  gcpy/benchmark/modules/benchmark_models_vs_obs.py
  gcpy/benchmark/modules/benchmark_models_vs_sondes.py
  gcpy/benchmark/modules/benchmark_utils.py
  gcpy/benchmark/modules/run_1yr_fullchem_benchmark.py
  gcpy/examples/plotting/plot_single_panel.py
  gcpy/grid.py
Labels: feature, benchmark plots and tables, structural modification, utilities

#304 Add fixed level diagnostic to operations budget table
  CHANGELOG.md
  gcpy/benchmark_funcs.py
Labels: feature, benchmark plots and tables
